apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minio
  namespace: minio
  annotations:
    route.openshift.io/termination: edge
spec:
  rules:
    - host: "{{ .Values.ingress.minioApiDnsName }}"
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: minio
              port:
                number: 9000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: minio-console
  namespace: minio
  annotations:
    route.openshift.io/termination: edge
spec:
  rules:
    - host: "{{ .Values.ingress.minioConsoleDnsName }}"
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: minio-console
              port:
                number: 9001
